*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar
{
    background: black;
    height: 6vh;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    outline: 1px solid white;
}
.navbar-right{
    display: flex;
    width: 15%;
    justify-content: space-between;
}
.navbar button:disabled
{
    cursor: not-allowed;
}
.navbar-right a
{
    text-decoration: none;
    color: white;
}
.navbar-right a:hover
{
    color: gray;
}

.active
{
    font-weight: bolder;
    font-size: 1.1rem;
}

.logout-btn
{
    background: none;
    border: none;
    color: white;

    
}
.logout-btn:hover
{
    color: gray;
}